*{
    list-style-type: none;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color:rgb(142, 175, 175)
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roleta{

    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-color: #c7c692;
    border: 10px solid #dfd8d8;
    box-shadow: 20px 40px 6px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    position: relative;

}
.item{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    background-color: #c78cd3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin{
    position: absolute;
    padding: 20px 20px;
    background-color: #ced6ce;
    border-color: rgb(148, 137, 137);
    border-radius: 100%;
    box-shadow: 2px 4px 1px #999;
}
.botao{
    position: absolute;
    padding: 30px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-color: rgb(148, 137, 137);
    border: 2px solid;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 2px 4px 1px #949494;
    bottom: -60px;
}