*{
    list-style-type: none;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color:rgb(95, 104, 104)
}

.roleta{
    padding: 0;
    margin: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c7c692;
    border: 10px solid #dbc086;
    box-shadow: 40px 40px 6px rgba(0, 0, 0, 0.1);
}