*{
    list-style-type: none;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color:rgb(95, 104, 104)
}

