*{
    list-style-type: none;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color:rgb(142, 175, 175)
}

.roleta{
    padding: 0;
    margin: 0;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c7c692;
    border: 10px solid #dbc086;
    box-shadow: 40px 40px 6px rgba(0, 0, 0, 0.1);
}

.container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spin{
    position: absolute;
    padding: 20px 20px;
    background-color: #ced6ce;
    border-color: rgb(148, 137, 137);
    border-radius: 100%;
    box-shadow: 0 4px #999;
}
.botao{
    position: absolute;
    padding: 30px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-color: rgb(148, 137, 137);
    border: 2px solid;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 5px #949494;
    bottom: -60px;
}